
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');


.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  color:#000;

}

.navbar {
  height: 60px;
 background-color: #0c2745;
  position: relative;
  margin-bottom: 30px;
}

.logo {
  color:black;
}


.nav-elements ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  

}

.nav-elements ul li:not(:last-child) {
  margin-right: 60px;
}

.nav-elements ul a {
  font-size: 16px;
  font-weight: 400;
  font-weight: bold;
  text-decoration: none;

  
}


.nav-elements ul a.active::after {
  content: '';
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #fff;
  color:blue;
  
}




@media (max-width: 768px) {
  

  .nav-elements {
    position: absolute;
    right: 0;
    top: 60px;
    background-color: #fef7e5;
    width: 0px;
    height: calc(100vh - 60px);
    transition: all 0.3s ease-in;
    overflow: hidden;
    color:#000;
  }

  .nav-elements.active {
    width: 270px;
    z-index: 4;
  }

  .nav-elements ul {
    display: flex;
    flex-direction: column;
  }

  .nav-elements ul li {
    margin-right: unset;
    margin-top: 22px;
  }
}
.hamburger{
  display: none;
}
@media (max-width: 768px) {
  .hamburger {
    display: block;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    width: 3rem;
    height: 3rem;
    border: 0;
    background: transparent;
    gap: 0.5rem;
    margin-top: 0.6rem;
   
  }
  
  .hamburger > div{
  background-color: black;
  height: 0.2rem;
  width: 100%;
  
  border-radius: 5rem;
  transition: all .5s;
  transform-origin: left;
  }
  .hamburger:hover div:first-child{
  transform: rotate(40deg);
  }
  .hamburger:hover div:nth-child(2){
  opacity: 0;
  }
  .hamburger:hover div:last-child{
  transform: rotate(-40deg);
  }
}
