:root {
  --border-color: linear-gradient(
      to right,
      tomato 0%,
      gold 100%
  );
  --card-color: #222;
}
.pokecard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 13rem;
    height: 20rem;
    background: var(--border-color);
    position: relative;
    
    
    place-items: center;
    overflow: hidden;
    border-radius: 20px;
    
  }
  

  
  /*@keyframes rotBGimg {
    from {
      transform: rotate(0deg);
    }
  
    to {
      transform: rotate(360deg);
    }
  }
  */
  
.card_body{
  width: 100%;
  height: auto;
}
.card_bodyimg{
    
    width: 100%;
    height: auto;
    border-radius: 5px;
    z-index: 1;
    
}
.card_title {
    font-family: 'Mali', cursive;
    text-align: center;
    z-index: 1;
    color: rgb(2, 1, 1);
    font-size: 1.5em;
    font-weight: bold;
    
}
.card_title::first-letter{
  text-transform: uppercase;
}

.card_footer{
    text-align: center;
    color: black;
}

.card_external{
  width: 100%;
  height: 100%;
}
.list_container{
  position: relative;
  bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style-type: none; /* hide bullet points */
  padding-left: 0;
}
.list_type{
  
  text-align: center;
  font-family: 'Mali', cursive;
}
.list_type::first-letter{
  text-transform: uppercase;
}
.card_container{
  margin: 5rem 10rem;
  display: grid;
  grid-template-columns: repeat(
      auto-fit,
      minmax(
          200px,
          1fr
      )
  );
  gap: 5rem;
  
}