body, h1 {
    margin: 0;
    background: -webkit-gradient(linear, left top, left bottom, from(#1c2b2d), to(#1b1a17));
    background: linear-gradient(#fef7e5, #fef7e5);
    font-family: 'Mali', cursive;
    z-index: 0;
  }
  
  .main {
    height: 200px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  .main__title {
    color: rgb(0, 0, 0);
    font-size: 25px;
  }
  
  .categories__title {
    color: rgb(0, 0, 0);
    font-size: 16px;
    position: absolute;
    padding-left: 30px;
    width: 100%;
  }
  
  .input {
    font-family: 'Mali', cursive;
    font-size: 16px;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 30px;
    padding: 0 20px;
    background-color: rgba(255, 255, 255, 0.1);
    height: 50px;
    width: 70%;
    outline: none;
    color: rgb(0, 0, 0);
  }
  
  .input::-webkit-input-placeholder {
    color: rgb(0, 0, 0);
  }
  
  .input:-ms-input-placeholder {
    color: rgb(0, 0, 0);
  }
  
  .input::-ms-input-placeholder {
    color: rgb(0, 0, 0);
  }
  
  .input::placeholder {
    color: rgb(0, 0, 0);
  }